[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/helloxen35
[access "refs/for/refs/*"]
	read = group user/helloxen35
	push = group user/helloxen35
	label-Code-Review = -2..+2 group user/helloxen35
	label-Verified = -1..+1 group user/helloxen35
	rebase = group user/helloxen35
	removeReviewer = group user/helloxen35
	submit = group user/helloxen35
[access "refs/heads/*"]
	read = group user/helloxen35
	create = group user/helloxen35
	push = +force group user/helloxen35
	pushMerge = group user/helloxen35
[access "refs/tags/*"]
	push = group user/helloxen35
	push = +force group user/helloxen35
